body {
    font-family: 'PT Sans' sans-serif;
    margin: 0 auto;
}


.header {
    position: sticky;
    z-index: 1;
    overflow: hidden;
    top: 1px;
}


.title {
    font-family: 'pt sans', sans-serif;
    display: inline-flex;
    background: #243B93;
    width: 1440px;
    height: 65px;
    color: white;
}

.logo {
    width: 140px;
    height: 50px;
    padding-left: 176px;
    margin-top: 8px;
    margin-right: 140px;
}

.titletextmargin {
    margin-right: 50px;
    margin-top: 25px;
    font-size: 18px;
}

.svgmargin {
    margin-top: 8px;
    margin-right: 8px;
}

.svgmargin2 {
    margin-top: 25px;
}

.titlebottom {
    background-color: #BFF0FF;
    width: 1440px;
    height: 85px;
    display: block;
    margin: 0;
}

.zabr {
    font-size: 44px;
    margin: 0;
    font-style: italic;
    padding: 20px 0 17px 200px;
    color: #202846;
    font-family: 'pt sans', sans-serif;
}

.main {
    background: #F5F5F5;
}

.location {
    display: inline-flex;
    background-color: white;
    border: 0px solid black;
    width: 1088px;
    height: 57px;
    margin: 0 120px 35px 176px;
}

.locationcontent {
    color: #0000009C;
    text-align: center;
    font-size: 28px;
    padding-top: 14px;
    margin: 0 auto;
}

.strelka {
    padding-right: 20px;
    padding-top: 20px;
}

.card {
    box-sizing: border-box;
    margin: 60px 86px 0 176px;
    background-color: rgba(44, 189, 235, 1);
    width: 1088px;
    height: 300px;
    border: 1px solid black;
}

.card:hover {
    box-shadow: 4px 12px 62px rgb(72, 24, 94);
    font-weight: 900;
}

.card:hover .starclr {
    fill: yellow;
}

.card:hover .detali2 {
    background: rgba(239, 7, 91, 1);
}

.detalihref {
    text-decoration: none;
}

.cardimage {
    display: inline-flex;
}

.bakota {
    padding: 33px 25px 21px 52px;
}

.rarpat {
    padding: 33px 25px 21px 52px;
}

.cardcontent {
    display: block;
    font-style: italic;
}

.bakotaheader {
    border-bottom: 2px solid white;
    font-family: 'pt sans', sans-serif;
    color: rgba(53, 60, 87, 1);
    font-size: 30px;
    margin: 20px 40px 30px 0;
}

.bakotatext {
    border: 1px solid black;
    background: white;
    font-family: 'pt sans', sans-serif;
    margin: 16px 37px 16px 0;
    padding: 10px 0 83px 10px;
    font-size: 18px;

}

.star {
    position: relative;
    top: -304px;
    right: -1035px;
}

.cardcontent2 {
    display: block;
    font-style: italic;
}

.detali2 {
    position: relative;
    top: -115px;
    right: -887px;
    border: 1px solid black;
    background-color: rgba(36, 59, 147, 1);
    width: 220px;
    height: 30px;
    text-align: center;
    padding-top: 1px;
    font-size: 20px;
    color: white;
    border-radius: 24px 24px 20px;
}

.karpatu {
    border-bottom: 2px solid white;
    font-family: 'pt sans', sans-serif;
    color: rgba(53, 60, 87, 1);
    font-size: 30px;
    margin: 20px 40px 30px 0;
}

.karpatutext {
    border: 1px solid black;
    background: white;
    font-family: 'pt sans', sans-serif;
    margin: 16px 37px 16px 0;
    padding: 10px 0 83px 10px;
    font-size: 18px;
}

.kyiv {
    border-bottom: 2px solid white;
    font-family: 'pt sans', sans-serif;
    color: rgba(53, 60, 87, 1);
    font-size: 30px;
    margin: 20px 40px 30px 0;
}

.kievshuna {
    padding: 33px 25px 21px 52px;
}

.odessatetext {
    border: 1px solid black;
    background: white;
    font-family: 'pt sans', sans-serif;
    margin: 16px 37px 16px 0;
    padding: 10px 0 37px 10px;
    font-size: 18px;
}

.kabinet {
    margin: 0 auto;
}

.headkabinet {
    width: 1265px;
    height: 65px;
    background: linear-gradient(to right, rgba(255, 230, 1, 1),
            rgba(85, 214, 255, 1));
    font-size: 44px;
    font-style: italic;
    color: rgba(36, 59, 147, 1);
    padding-left: 173px;
    margin-bottom: 40px;
}

.kabinetmenue {
    display: inline-flex;
    background: linear-gradient(rgba(133, 158, 255, 1),
            rgba(105, 255, 210, 0.5));
    width: 1110px;
    height: 406px;
    margin-left: 175px;
    margin-bottom: 20px;
}

.leftside {
    display: block;
    text-align: center;
    margin: 70px 72px 58px 150px;
}

.avatar {
    border: 0px solid black;
    background-color: rgba(36, 59, 147, 1);
    width: 185px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 24px 24px 20px;
}

.settings {
    border: 0px solid black;
    background-color: rgba(239, 7, 91, 1);
    width: 185px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 24px 24px 20px;
}

.rightsize {
    display: block;
    margin: 42px 0 0 0;
}

.exit {
    border: 0px solid black;
    background-color: rgba(36, 59, 147, 1);
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 2px;
    font-size: 22px;
    color: white;
    border-radius: 24px 24px 20px;
    margin: 0 auto;
}

.personal {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: rgba(53, 60, 87, 1);
    border-bottom: 2px solid white;
}

.mailnoboarder {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: rgba(53, 60, 87, 1);

}

.naming {
    font-weight: 400;
}

.headcontacts {
    width: 1265px;
    height: 65px;
    background: linear-gradient(to left, rgba(255, 230, 1, 1),
            rgba(85, 214, 255, 1));
    font-size: 44px;
    font-style: italic;
    color: rgba(36, 59, 147, 1);
    padding-left: 173px;
    margin-bottom: 40px;
}

.bloks {
    display: inline-flex;
    font-weight: 400;
    font-size: 32px;
}

.phoneadress {
    display: block;
    margin: 10px 36px 10px 170px;
}

.phone {
    margin-bottom: 1px;
    margin-right: 150px;
    border-bottom: 1px solid black;

}

.adress {
    margin-bottom: 1px;
    border-bottom: 1px solid black;
}

.phad {
    margin-top: 5px;
}

.ml {
    margin-bottom: 1px;
    border-bottom: 1px solid black;
}

.mla {
    margin-top: 5px;
}

.map {
    margin-left: 50px;
    width: 430px;
    border-radius: 15%;
    border: 3px solid rgba(36, 59, 147, 1);
}

.maps {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.footer {
    width: 1265px;
    height: 39px;
    background: rgba(36, 59, 147, 1);
    font-size: 16px;
    color: white;
    padding-left: 173px;
    padding-top: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
    font-weight: 700;
}

.fixed {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, .5);
    position: fixed;
    bottom: 100px;
    right: 10px;
    transition: all 0.5s;
}

.fixed:hover {
    background-color: rgba(0, 0, 255, 1);
    text-align: center;
    height: 150px;
    width: 150px;
    font-size: 22px;
    line-height: 7;
}

.top {
    color: white;
    line-height: 5;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}